<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partial/head %>
</head>
<body data-background-color="dark">
	<div class="wrapper">
		<% include ../partial/header %>
	
		<!-- Sidebar -->
		<% include ../partial/sidebar %>
		<!-- End Sidebar -->

		<div class="main-panel">
			<div class="content">
				<div class="page-inner">
					<div class="page-header">
						<h4 class="page-title">Forms</h4>
						<ul class="breadcrumbs">
							<li class="nav-home">
								<a href="#">
									<i class="flaticon-home"></i>
								</a>
							</li>
							<li class="separator">
								<i class="flaticon-right-arrow"></i>
							</li>
							<li class="nav-item">
								<a href="#">Table</a>
							</li>
							<li class="separator">
								<i class="flaticon-right-arrow"></i>
							</li>
							<li class="nav-item">
								<a href="#">Basic Table</a>
							</li>
						</ul>
					</div>
					<div class="row">
                        <div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<div class="d-flex align-items-center">
										<h4 class="card-title">Add Row</h4>
										<button class="btn btn-primary btn-round ml-auto" data-toggle="modal" data-target="#addRowModal">
											<i class="fa fa-plus"></i>
											Add Row
										</button>
									</div>
								</div>
								<div class="card-body">
									<!-- Modal -->
									<div class="modal fade" id="addRowModal" tabindex="-1" role="dialog" aria-hidden="true">
										<div class="modal-dialog" role="document">
											<div class="modal-content">
												<div class="modal-header no-bd">
													<h5 class="modal-title">
														<span class="fw-mediumbold">
														New</span> 
														<span class="fw-light">
															Row
														</span>
													</h5>
													<button type="button" class="close" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
                                                </div>
											</div>
												<div class="modal-body">
													<p class="small">Create a new row using this form, make sure you fill them all</p>
													<form>
														<div class="row">
															<div class="col-sm-12">
																<div class="form-group form-group-default">
																	<label>Name</label>
																	<input id="addName" type="text" class="form-control" placeholder="fill name">
																</div>
															</div>
															<div class="col-md-6 pr-0">
																<div class="form-group form-group-default">
																	<label>Position</label>
																	<input id="addPosition" type="text" class="form-control" placeholder="fill position">
																</div>
															</div>
															<div class="col-md-6">
																<div class="form-group form-group-default">
																	<label>Office</label>
																	<input id="addOffice" type="text" class="form-control" placeholder="fill office">
																</div>
															</div>
														</div>
													</form>
												</div>
												<div class="modal-footer no-bd">
													<button type="button" id="addRowButton" class="btn btn-primary">Add</button>
													<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
												</div>
											</div>
										</div>
									</div>
									<div class="table-responsive">
										<table id="add-row" class="display table table-striped table-hover" >
											<thead>
												<tr>
													<th>Name</th>
													<th>Email</th>
													<th style="width:10%">Action</th>
													
												</tr>
											</thead>
											
											<tbody>
                                                <% for(var i=0;i<user.length;i++){%>
												<tr>
													<td><a href="/users/userdetail/<%=user[i]._id%>"><%= user[i].name %></a></td>
													<td><%= user[i].email %></td>
													<td>
														<div class="form-button-action">
															<a role="button" href="/users/userupdate/<%= user[i]._id%>" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task">
																<i class="fa fa-edit"></i>
                                                            </a>
															<a role="button" onclick="del('<%= user[i]._id %>');" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove">
																<i class="fa fa-times"></i>
                                                            </a>
														</div>
													</td>
												</tr>
                                                <% } %>
                                            </tbody>
                                        </table>
                                                </div>
                                </div>
                            </div>
                        </div>
		<!-- Custom template | don't include it in your project! -->
		<% include ../partial/customTemplate %>
		<!-- End Custom template -->
	</div>
	<!--   Core JS Files   -->
	<% include ../partial/script %>
</body>


<script src="../../assets/js/plugin/datatables/datatables.min.js"></script>
<script >
    function del(id){
        var v=confirm("Are you sure delete");
        if(v){
            location.href="/users/userdelete/"+id;
        }
    }
</script>
<script>
    $(document).ready(function() {
        $('#basic-datatables').DataTable({
        });

        $('#multi-filter-select').DataTable( {
            "pageLength": 5,
            initComplete: function () {
                this.api().columns().every( function () {
                    var column = this;
                    var select = $('<select class="form-control"><option value=""></option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                            );

                        column
                        .search( val ? '^'+val+'$' : '', true, false )
                        .draw();
                    } );

                    column.data().unique().sort().each( function ( d, j ) {
                        select.append( '<option value="'+d+'">'+d+'</option>' )
                    } );
                } );
            }
        });

        // Add Row
        $('#add-row').DataTable({
            "pageLength": 5,
        });

        var action = '<td> <div class="form-button-action"> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

        $('#addRowButton').click(function() {
            $('#add-row').dataTable().fnAddData([
                $("#addName").val(),
                $("#addPosition").val(),
                $("#addOffice").val(),
                action
                ]);
            $('#addRowModal').modal('hide');

        });
    });
</script>
</html>

// <!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Add</title>
</head>
<body>
    <h1>User Add</h1>
    <form action="/users/useradd" method="post" id="myForm">
    <label for="name">User Name</label>
    <input type="text" name="uname" id="name"><p></p>
    <label for="email">User Email</label>
    <input type="email" name="uemail" id="email"><p></p>
    <label for="pwd">Password</label>
    <input type="password" name="password" id="pwd"><p></p>
    <input type="submit" value="Add">
    </form>
</body>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/jquery.validate.min.js"></script>
<script>
    $("#email").blur(function(){
        var datap={email:$('#email').val()};
        if(datap.email!='')
        {
            $.ajax({
                url:"/emaildu",
                data:datap,
                type:'POST',
                success:function(result){
                    if(result.status){
                        alert("Email duplicate and invalid!");
                        $("#email").val('');
                        $("#email").focus();
                    }
                }
            })
        }
    })
    $("#myForm").validate({
        rules:{
            uname:{
                required:true,
                minlength:5,
            },
            uemail:{
                required:true,
                emailExt:true,
            },
            password:{
                required:true,
                minlength:8,
                pwcheck:true,
            },
        },
        messages:{
            uname:{
                required:"Name need to insert"
            },
            uemail:{
                required:"Email need to insert"
            },
            password:{
                required:"Password need to insert",
                pwcheck:"Please enter 1 uppercase, 1 lowercase and 1 digit"
            },
        },
    });
    $.validator.addMethod("pwcheck", function (value) {
      return (
        /^[A-Za-z0-9\d=!\-@._*]*$/.test(value) && // consists of only these
        /[a-z]/.test(value) && // has a lowercase letter
        /\d/.test(value)
      ); // has a digit
    });
    jQuery.validator.addMethod(
      "emailExt",
      function (value, element, param) {
        return value.match(
          /^[a-zA-Z0-9_\.%\+\-]+@[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,}$/
        );
      },
      "Your E-mail is wrong"
    );
</script>
</html> --> -->




